
/*Radio Button Design*/
.small{
font-size:"12px";
}
.center-alignment{
    display: flex;
    justify-content: center;
    align-items: center;
}
.radio_option label {
  margin-right: 1em;
  font-size: 14px;
  color: rgb(65, 64, 64);
}
.radio_option label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: 2px solid #cccccc;
  padding: 0.35em;
  background-color: transparent;
  background-clip: content-box;
}
.radio_option input:hover + label:before {
  border-color: #000000;
}
.radio_option input:checked + label:before {
  background-color: #000000;
  border-color: #000000;
}