.text-purple {
    color: black;
}

.me-2 {
    margin-right: 0.5rem;
}

.rightcolumn {
    height: "100vh"
}

.leftcolumn {
    height: "100vh"
}

@media (max-width: 1200px) {
    .rightcolumn {
        height: "80vh"
    }

    .leftcolumn {
        height: "80vh"
    }
}


@media (max-width: 992px)and (min-width:769px) {

    .rightcolumn {
        height: 670px
    }

    .leftcolumn {
        height: 670px
    }

}

@media (max-width: 768px) and (min-width:577px) {
    .rightcolumn {
        height: 750px
    }

    .leftcolumn {
        height: 200px
    }
}

@media (max-width: 576px) {
    .rightcolumn {
        height: "100vh" !important;
    }

    .leftcolumn {
        height: "100vh" !important;
    }
}