#table-box {
    width: auto !important;
    overflow: auto !important;
}

/* Custom Scrollbar for WebKit browsers */
#table-box::-webkit-scrollbar {
    width: 5px;
    /* Scrollbar width */
}

#table-box::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    /* Scrollbar thumb color */
    border-radius: 5px;
}

#table-box::-webkit-scrollbar-track {
    background-color: #e2e2e2;
}

/* Firefox scrollbar */
#table-box {
    scrollbar-width: thin;
    scrollbar-color: #9c9c9c #e2e2e2;
}